@import '../../Utils/Variables.scss';


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    &-title {
        opacity: 0;
        width: 70%;
        display: flex;
        justify-content: center;
        color: white;
        border-bottom: solid 1px;
        padding-bottom: 40px;
        margin-bottom: 5rem;
    }
    &-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 6rem;
        @media screen and (max-width: $breakpoint-tablet) {
            gap: 0;
            width: 80%;
            justify-content: center;
        }
        @media screen and (max-width: $breakpoint-mobile) {
            width: 100%;
        }
    }
}

.opacity {
    transition: opacity 0.5s ease-in-out 0.3s;
    opacity: 1;
}

