@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow: hidden;
  position: relative;
}

body {
  font-family: "Anta", sans-serif;
  background-color: $primary-color;
}

main {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

strong {
  color: $font-color;
}
