$primary-color: rgb(2, 1, 20);

$secondary-color: rgba(17, 34, 64, 0.5);

$font-color: #64FFDA;

$font-white: white;

$shadow: 0px 0px 20px 0px rgba(206, 202, 202, 0.5);

$breakpoint-tablet: 1230px;

$breakpoint-mobile: 768px;