@import '../../Utils/Variables.scss';

.burger-menu {
    &-icon {
        color: $font-color;
        padding-right: 20px;
        padding-top: 5px;
        font-size: 2rem;
    }
    &-items {
        z-index: -1000;
        position: fixed;
        top: 75px;
        right: 0;
        background-color: rgba(17, 34, 64);
        width: 100%;
        padding: 0 10px;
        box-shadow: $shadow;
        overflow: hidden;
        max-height: 0;
        transition: max-height 1s ease;
        &.open {
            max-height: 93vh;
        }
        a {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 2rem;
            padding: 3.1rem 2rem;
        }
    }
    &-social {
      display: flex;
      color:$font-color;
    }
}

@keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes slideOutToBot {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-120%);
    }
}